/* Navbar */
#navbar {
    background-color: #f5793b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#navbar a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}

#navbar img {
    height: 50px;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9; 
    color: #333; 
    line-height: 1.6;
    text-align: center; 
}


h1 {
    font-size: 2em;
    color: #222; 
    margin: 20px 0;
}


p {
    font-size: 1em;
    color: #555; 
    margin: 5px 0;
}


#map {
    height: 500px;
    width: 80%; 
    margin: 20px auto; 
    border: 2px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Footer */
footer {
    background-color: #f7bf01;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#social-media i {
    margin: 0 10px;
    color: white;
}